:root {
    --bg: #F4F4F4;
    --bg30: #F4F4F430;
    --fg: #232324;
    --text: #7f7f7f;
    --selBg: #FFFFFF;
    --selBg20: #FFFFFF20;
    --selFg: #232324;
    --activeFg: #232324;
    --border: #DBDBDC;
    --excl: #CACACB;
    --second: #EAEAEB;
    --dis: #b8b8b9;
    --accent: #2979ff;
    --accent20: #2979ff20;
    --accent50: #2979ff50;
    --accent70: #2979ff70;
    --cs: #eaeaeb;
    --button: #DBDBDC;
    --table: #DBDBDC;
    --tree: #e8e8e8;
    --hl: #FFFFFF;
    --notif: #F2F2F2;
    --hc: #F4F4F4;
    --shadow: #CACACB;
    --white: #986801;
    --blue: #4078F2;
    --red: #E4564A;
    --yellow: #C18401;
    --green: #50A14E;
    --gray: #A0A1A7;
    --purple: #A626A4;
    --orange: #986801;
}

:root {
    --file-color-blue: #004BA0;
    --file-color-green: #c4ef99;
    --file-color-orange: #B53D00;
    --file-color-rose: #A00037;
    --file-color-violet: #4D2C91;
    --file-color-yellow: #ffd782;
    --file-color-gray: var(--excl);
    --file-color-excluded: var(--excl);
}